@charset "utf-8";
/* CSS Document */
#search{
	width: 550px;
	background-color: #ffffff;
	text-align: left;
	color: #ABABAB;

}
#search_image1{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline;
}
#search_image2{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline;
}
#search_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
